<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <nav>
        <ul>
          <li>
            <a href="/hogwarts/students/new">Add Student</a>
          </li>
        </ul>
      </nav>
    <%= yield %>

  </body>
</html>
