<form method="post" action="/hogwarts/students">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />

  <label for="age">Select Age:</label>
  <input id="age" type="number" name="age" />

  <label for="house">House:</label>
      <select id="house" name="house">
        <% @houses.each do |house| %>
        <option value=<%=house.name%>><%=house.name%></option>
        <%end%>
      </select>

  <input type="submit" value="Add Student" />

</form>
